<button (click)="createNewProduct()">Create</button>
<!-- // to see if a products doesn't exist
<button (click)="onShowDetail('112121')">Detail not found</button> -->
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  >
  </app-product>
  <button (click)="loadMore()">Load more</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <h1>{{ productChosen.title }}</h1>
    <swiper [slidesPerView]="1" [spaceBetween]="50">
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="" class="img-detail" />
      </ng-template>
    </swiper>
    <p>{{ productChosen.description }}</p>
    <button (click)="toggleProductDetail()" class="button-detail">Close</button>
    <button (click)="updateProduct()">Edit</button>
    <button (click)="deleteProduct()">Delete</button>
  </div>
</div>
