.products--grid {
  display: flex;
  flex-direction: column;
  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
    h2, p {
      margin: 0;
    }
  }
}

.wrapper--header {
  display: flex;
  flex-direction: column;
  div {
    button {
    border: 1px solid grey;
    opacity: 0.7;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(245, 240, 240);
    border-radius: 3px;
    width: auto;
    height: 25px;
    margin-bottom: 5px;
  }
  }
}

.title--header {
  padding-right: 50px;
  text-align: center;
  margin-top: 2px;
}

.fa-cart-plus {
  font-size: 26px;
  background-color: rgb(211, 246, 211);
  width: 50px;
  border-radius: 10px;
  height: 34px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5px;
  transform: translate(220px, -45px);
  cursor: pointer;
}

.wrapper-register {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  p {
    &.start, &.register {
      margin: 0;
      cursor: pointer;
      border: 1px dotted rgb(141, 124, 124);
      width: 100px;
      text-align: center;
    }
  }
}

@media screen and (min-width: 40em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}
@media screen and (min-width: 70em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}

@media screen and (min-width: 40em) {
  .wrapper--header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div {
      button {
      border: 1px solid grey;
      opacity: 0.7;
      margin-right: 5px;
      margin-bottom: 30px;
      cursor: pointer;
      background-color: rgb(219, 152, 152);
      border-radius: 3px;
      width: auto;
      height: 25px;
    }
    }
  }
}

@media screen and (min-width: 70em) {
  .wrapper--header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div {
      button {
      border: 1px solid grey;
      opacity: 0.7;
      margin-right: 5px;
      cursor: pointer;
      background-color: rgb(245, 240, 240);
      border-radius: 3px;
      width: auto;
      height: 25px;
    }
    }
  }
}

@media screen and (min-width: 40em) {
  .wrapper-register {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    &.start, &.register {
      margin: 0;
      cursor: pointer;
      border: 1px dotted black;
      width: 100px;
      text-align: center;
    }
  }
}
}




