<h1>Formularios</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm" class="form">
  <div class="input-group">
    <legend>My account</legend>
    <label for="name">Name: </label>
    <input
      type="text"
      required
      name="name"
      id="name"
      class="input"
      placeholder="Name"
      [(ngModel)]="register.name"
    />
  </div>
  <div class="input-group">
    <label for="email">Mail address: </label>
    <input
      type="email"
      required
      name="email"
      id="email"
      class="input"
      placeholder="E-mail"
      [(ngModel)]="register.email"
    />
  </div>
  <div class="input-group">
    <label for="password">Passoword: </label>
    <input
      type="password"
      required
      name="password"
      id="password"
      class="input"
      placeholder="Password"
      [(ngModel)]="register.password"
    />
  </div>
  <button [disabled]="myForm.invalid" type="submit" class="button">Edit</button>
</form>

<hr />
<h1>NgClass& NgStyles</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr
  class="line-error"
  [ngClass]="{
    valid: nameInput4.valid,
    invalid: nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div
      [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        display: 'block'
      }"
    ></div>
  </div>
</div>

<hr />
<h1>Class & Styles</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre: </label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">
  Texto texto texto
</p>
<div class="styles">
  <div>
    <input [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" alt="placeholder" />
  </div>
</div>

<hr />
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<!-- <p *ngIf="person.name === 'Nicolas'">La persona es Nicolas</p>
<p *ngIf="person.name === 'Julian'">La persona es Julian</p>
<p *ngIf="person.name === 'Camilo'">La persona es Camilo</p> -->
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">La persona es Nicolas</p>
  <p *ngSwitchCase="'julian'">La persona es Julian</p>
  <p *ngSwitchCase="'camilo'">La persona es Camilo</p>
  <p *ngSwitchDefault>No hay match</p>
</div>
<hr />
<h1>*ngForObjects</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image" />
    <h2>{{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr />
<h1>*ngFor</h1>
<button (click)="addName()">Add name</button>
<input type="text" required [(ngModel)]="newName" />
<ul>
  <li *ngIf="names.length === 0">No hay nombres en la lista</li>
  <li *ngFor="let name of names; index as i">
    {{ i }} {{ name }} <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<button (click)="addThings()">Add thing to do</button>
<input type="text" required [(ngModel)]="newThings" />
<ul>
  <li *ngIf="thingsToDo.length === 0">No hay cosas que hacer</li>
  <li *ngFor="let thing of thingsToDo; index as i">
    {{ thing }} <button (click)="deleteThings(i)">Delete</button>
  </li>
</ul>

<hr />
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Nicolas'">Soy Nicolas</p>
<p *ngIf="person.name === 'Julian' && person.age === 18; else elseBlock">
  Soy Julian
</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
<hr />

<h1>NgModel</h1>
<p>Name {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Age: {{ person.age }}</p>
<input type="number" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>

<hr />
<h1>Eventos</h1>
<button [disabled]="btnDisable">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<button (click)="decreaseAge()">Age --</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat aliquid
    dolorem consequatur rem! Beatae ipsum vel eveniet fuga id vero voluptate,
    reprehenderit rem optio. Ipsam aut atque sapiente natus quidem?
  </p>
</div>
<p>Name {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisable">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img [src]="person.avatar" alt="placeholder" />

<hr />
<h1>Hola mundo</h1>
<h2>{{ "Hola mundo ".repeat(5) }}</h2>
<p>3+3 ={{ 3 + 3 }}</p>
<p>Hola, soy {{ name }} y tengo {{ age }} años.</p>
<img src="{{ image }}" alt="placeholder" />
