.box {
  height: 150px;
  width: 200px;
  overflow: auto;
  background-color: red;
}

.products--grid {
  display: flex;
  flex-direction: column;
  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
    h2, p {
      margin: 0;
    }
  }
}

.message-error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
  &.invalid {
    opacity: 1;
  }
}

.line-error {
  height: 0;
  border-bottom: 1px solid;
  &.invalid {
    color: red;
  }
  &.valid {
    color: green;
  }
}

.styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input {
  width: 300px;
  height: 25px;
  border: none;
  background-color: grey;
  opacity: 0.3;
  border-radius: 5px;
}

.input::placeholder {
  color: black;
  font-size: 16px;
}

label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 10px;
}

.button {
  background-color: rgb(128, 201, 128);
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
}

legend {
  font-size: 24px;
  font-weight: bold;
}

.wrapper--header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  div {
    button {
    border: 1px solid grey;
    opacity: 0.7;
    margin-right: 5px;
    cursor: pointer;
    background-color: rgb(245, 240, 240);
    border-radius: 3px;
    width: auto;
    height: 25px;
  }
  }
}

.title--header {
  padding-right: 50px;
}

.fa-cart-plus {
  font-size: 26px;
  background-color: rgb(211, 246, 211);
  width: 50px;
  border-radius: 10px;
  height: 34px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5px;
  transform: translate(220px, -45px);
  cursor: pointer;
}

@media screen and (min-width: 40em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}
@media screen and (min-width: 70em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}

