/* You can add global styles to this file, and also import other style files */


@import url(./app/styles/reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

* {
  font-family: 'Quicksand', sans-serif;
}

.products--grid {
  app-img {
    img {
      border-radius: 10px;
      height: auto;
    }
  }
}

@media screen and (min-width: 40em) {
  .products--grid {
    app-img {
      img {
        border-radius: 10px;
        height: auto;
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 64em) {
  .products--grid {
    app-img {
      img {
        border-radius: 10px;
        height: 150px;
        width: auto;
      }
    }
  }
}

